@import "../../index.less";

.video-options {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
}

.video-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    &:last-child {
        justify-content: flex-end;
    }
}

.video-options-button {
    display: flex;
    align-items: center;
    background-color: var(--buttonBG);
    border: none;
    border-radius: 10px;
    padding: 7px 7px;
    height: 38px;
    margin-right: 10px;
    &:last-child {
        margin-right: 0px;
    }
}

.video-options-button-hover {
    display: flex;
    align-items: center;
    &:hover {
        filter: brightness(130%);
    }
}

.video-options-button-img {
    height: 27px;
    width: auto;
    margin-right: 5px;
    color: var(--textColor);
}

.video-options-button-text {
    font-family: "Tsunagi Gothic Black", sans-serif;
    font-size: 27px;
    color: var(--textColor);
    white-space: nowrap;
}