@font-face {
    font-family: "Mangaka";
    src: url("/assets/fonts/Mangaka.otf") format("opentype");
}

@font-face {
    font-family: "GenEi M Gothic v2";
    src: url("assets/fonts/GenEiMGothic2-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Honoka Shin Antique-Kaku";
    src: url("assets/fonts/Honoka-Shin-Antique-Kaku_M.ttf") format("truetype");
}

@font-face {
    font-family: "Tsunagi Gothic Black";
    src: url("assets/fonts/TsunagiGothic.ttf") format("truetype");
}

@titlebar-height: 70px;
@pdf-controls-height: 40px;
@sidebar-width: 400px;

:root {
    --selection: rgba(255, 168, 220, 0.302);
    --subtitles: #ffffff;
    --activeSubtitles: #ff2fee;
	--buttonBG: #f9ddeb;
	--textColor: #801060;
	--background: #ffffff;
	--sidebarBG: #ffffff;
	--navbarBG: #ffe3f9;
	--titleColor: #ca6a9f;
	--buttonText: #ffffff;
	--buttonBG2: #e378ad;
	--gridBG: #faedf7;
	--searchBorder: #dfd2de;
	--sidebarButton: #f7d0e8;
}

.dark {
	--buttonBG: #3a1728;
	--textColor: #ffffff;
	--background: #231620;
	--sidebarBG: #241724;
	--navbarBG: #241721;
	--titleColor: #d34f9a;
	--buttonText: #000000;
	--buttonBG2: #ec63a7;
	--gridBG: #1c0f19;
	--searchBorder: #160915;
	--sidebarButton: #3a1d2f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--navbarBG) var(--background);
}

.stop-transitions * { 
    transition: none !important; 
}

.no-scroll {
    overflow: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    z-index: -1000;
    -webkit-touch-callout: none;
}

body {
    overflow-x: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--gridBG);
}

.body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .body {
        flex-direction: column;
    }
}

::selection {
    background-color: var(--selection);
}


::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--background);
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--navbarBG);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--navbarBG);
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

div:focus, input:focus, button:focus, textarea:focus {
    outline: none;
}

input[type="file"] {
    display: none;
}

a {
    display: inline-flex;
    text-decoration: none;
}

img {
    image-rendering: pixelated;
}

.react-transform-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100% !important;
}

.react-transform-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100% !important;
}

.rotate {
    animation: rotate 3.5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}